img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
//  background-color: #fff;
}

ul, li {
  background-color: transparent;
}
