footer {
  background-color: $teal;
  clear: both;
  padding: 3em 0 0 0;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.footer-social-link, .footer-nav-bar {
  ul {
    background-color: none;
    padding: 3em 0 3em 0;
  }

  li {
    display: inline;
    font-size: .6em;
    letter-spacing: .15em;
    padding-right: .8em;
    text-transform: uppercase;

    @media screen and (min-width: 34em) {
      font-size: .8em;
    }

    a {
      background: none;
      border-radius: .3em;
      color: #fff;
      padding: 1em;
      text-decoration: none;
      transition: all .5s ease-in-out;
    }

    a:hover {
      background-color: rgba(0, 0, 0, .3);
    }

  }
}

.footer-social-link ul {
  li:first-child a:hover {
    background-color: rgb(64, 153, 255);
  }

  li:nth-child(2) a:hover {
    background-color: rgb(81, 127, 164);
  }

  li:nth-child(3) a:hover {
    background-color: rgb(0,123,182);
  }

  li:nth-child(4) a:hover {
    background-color: rgb(235,75,136);
  }

  img {
    background: none;
  }
}

.footer-nav-bar {
  font-size: .8em;

  @media screen and (min-width: 34em) {
    font-size: 1.2em;
  }

  ul {
    padding: 0em 0 3em 0;
  }

  li:nth-child(4) {
    padding-right: 0;

    a {
      background-color: $blue;
      border-bottom: 4px solid darken($blue, 10%);
    }

    a:hover {
      background-color: darken($blue, 5%);
      border-bottom: 4px solid darken($blue, 25%);
    }
  }
}
