header {
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 1.2em;
  position: relative;
  text-align: center;

  @media screen and (min-width: 40em) {
    font-size: 2em;
  }

  ul {
    background-color: transparent;
    padding-top: 2em;
    margin: 0 auto;
  }

  li {
    display: inline;
    font-size: .55em;
    letter-spacing: .15em;
    padding-right: 2em;
    text-transform: uppercase;

    a {
      background: none;
      border-radius: .3em;
      color: #fff;
      padding: .5em;
      text-decoration: none;
      transition: all .5s ease-in-out;
    }

    a:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  li:last-child {
    padding-right: 0;

    a {
      background-color: $blue;
      border-bottom: 4px solid darken($blue, 10%);
    }

    a:hover {
      background-color: darken($blue, 5%);
      border-bottom: 4px solid darken($blue, 25%);
    }
  }

}

.homepage {
  background-image: url("../images/header.png");
  height: 95vh;

  h1, h2, h3, h4 {
    background-color: transparent;
    letter-spacing: .08em;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    word-spacing: .1em;
  }

  h2 {
    background-color: transparent;
    font-size: 2.5em;
    font-weight: 700;
    margin-top: .5em;
  }

  h3 {
    margin-top: .2em;
  }

  h4 {
    font-size: .5em;
    margin-top: .6em;
  }
}

.project-details-nav {
  background-color: $teal;
  padding-bottom: 2em;
}
