@import "reset.css";

@import 'variables';

@import 'base';
@import 'footer';
@import 'header';

.work, .contact {
  padding: 6em 0 6em 0;
  text-align: center;

  h1 {
    padding-bottom: 2em;
    font-size: 2em;
    color: $grey;
  }
}

.philosophy {
  background-attachment: fixed;
  background-color: #000;
  background-image: url("../images/header-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0 3em;
  text-align: center;

  q, h3 {
    background: none;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 30em;
    padding-bottom: 2em;
    width: 80%;
  }

  h1 {
    background: none;
    color: #fff;
    font-size: 2em;
    padding-bottom: 2em;
  }

  q {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
  }
}

.subway-app, .imagery-app, .books-app {
  padding: 6em 0 6em 0;
  text-align: left;

  a {
    color: $teal;
    text-decoration: none;
    transition: color .5s ease-in-out;
  }

  a:hover {
    color: darken($teal, 20%);
  }

  ul {
    background-color: none;
    padding: 0em 1em 0em 1em;
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: .8em;
    letter-spacing: .15em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }

  h1 {
    padding-top: 1em;
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
    padding-top: .5em;
    color: $grey;
  }

  h3 {
    color: $grey;
    font-size: 1.2em;
    padding-top: 2em;
  }

  @media screen and (min-width: 755px) {
    li {
      padding-left: 2em;
      text-align: left;
    }

    h1 {
      padding-top: 0;
    }
  }
}

.subway-app {
  background-color: $ultralightgrey;
}

.imagery-app, .books-app {
  img {
    border: 2em solid $ultralightgrey;
    border-radius: .5em;
  }
}

.project-process {
  margin: 0 auto;
  text-align: center;
  color: $grey;

  h1, h2 {
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  h1 {
    font-size: 2em;
    padding-top: 3em;
  }

  h2 {
    margin-top: 1em;
    padding-bottom: 3em;
  }

  h3 {
    color: $teal;
    font-size: 1.6em;
    padding-bottom: .5em;
  }

  p {
    color: $grey;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    padding: 1em 1em 4em 1em;
    margin: 0 auto;
    max-width: 25em;
    width: 100%;
  }

  a {
    color: $darkgrey;
    font-size: 1.3em;
    letter-spacing: .07em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease-in-out;
    word-spacing: .2em;
  }

  a:hover {
    color: $teal;
  }

  img {
    margin-bottom: 3em;
    max-width: 80em;
    width: 100%;
  }

}

.img-border img {
  border: .8em solid $ultralightgrey;
  border-radius: .3em;
}

.title-color {
  color: $teal;
}

.skill-details-container {
  border: 1px solid $lightgrey;
  border-radius: .5em;
  color: #787878;
  display: inline-block;
  line-height: 1.2em;
  margin: 2em;
  max-width: 25em;
  padding: 2em 2em;
  text-align: center;
  vertical-align: top;
  width: 80%;

  h2 {
    color: $teal;
    font-size: 1.4em;
    letter-spacing: .05em;
    padding-bottom: 1em;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  img {
    padding-bottom: 1.5em;
  }

  a {
    color: $teal;
    text-decoration: none;
  }

  a:hover {
    color: darken($teal, 20%);
  }
}

.contact {
  h1, h2 {
    color: $teal;
    font-size: 2em;
    letter-spacing: .01em;
    padding: .2em;
  }

  h3 {
    color: $darkgrey;
    font-size: 1.5em;
    padding: .3em;
  }

  a {
    color: $teal;
    text-decoration: none;
  }

  a:hover {
    color: darken($teal,15%);
  }
}

.selfie {
  img {
    padding: 0em 3em 3em 3em;
  }
}

.grey-background {
  background-color: $ultralightgrey;
}

.portrait-image {
  img:last-of-type {
    max-width: 30em;
  }
}
