@import "reset.css";

@import 'variables';

@import 'base';
@import 'footer';
@import 'header';

.work, .contact, .projects {
  padding: 8em 0;
  text-align: center;

  h1 {
    color: $grey;
    font-size: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

.projects {
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  text-align: center;


  h3 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    text-align: left;
    max-width: 35em;
    margin: 0 auto;
    line-height: 2em;
    color: #fff;
    letter-spacing: 1px;
  }

  h1 {
    background: none;
    color: #fff;
    font-size: 2em;
    padding-bottom: 1em;
  }

  li {
    display: inline;
  }

  img {
    padding: 0 1em;
  }
}

.subway-app, .imagery-app, .books-app {
  padding: 6em 0 6em 0;
  text-align: left;

  a {
    color: $teal;
    text-decoration: none;
    transition: color .5s ease-in-out;
  }

  a:hover {
    color: darken($teal, 20%);
  }

  ul {
    background-color: none;
    padding: 0em 1em 0em 1em;
    text-align: center;
  }

  li {
    display: inline-block;
    font-size: .8em;
    letter-spacing: .15em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
  }

  h1 {
    padding-top: 1em;
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
    padding-top: .5em;
    color: $grey;
  }

  h3 {
    color: $grey;
    font-size: 1.2em;
    padding-top: 2em;
  }

  @media screen and (min-width: 755px) {
    li {
      padding-left: 2em;
      text-align: left;
    }

    h1 {
      padding-top: 0;
    }
  }
}

.subway-app {
  background-color: $ultralightgrey;
}

.imagery-app, .books-app {
  img {
    border: 2em solid $ultralightgrey;
    border-radius: .5em;
  }
}

.project-process {
  margin: 0 auto;
  text-align: center;
  color: $grey;

  h1, h2 {
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  h1 {
    font-size: 2em;
    padding-top: 3em;
  }

  h2 {
    margin-top: 1em;
    padding-bottom: 3em;
  }

  h3 {
    color: $teal;
    font-size: 1.6em;
    padding-bottom: .5em;
  }

  h4, p {
    color: $grey;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    padding: 1em 1em 4em 1em;
    margin: 0 auto;
    max-width: 25em;
    width: 100%;
  }

  h4 {
    font-size: 2em;
  }

  a {
    color: $darkgrey;
    font-size: 1.3em;
    letter-spacing: .07em;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .5s ease-in-out;
    word-spacing: .2em;
  }

  a:hover {
    color: $teal;
  }

  img {
    margin-bottom: 3em;
    max-width: 100em;
  }

}

.img-border img {
  border: .8em solid $ultralightgrey;
  border-radius: .3em;
}

.title-color {
  color: $teal;
}

.selfie {
  img {
    padding: 0em 3em 3em 3em;
  }
}

.grey-background {
  background-color: $ultralightgrey;
}

.portrait-image {
  img:last-of-type {
    max-width: 30em;
    padding-top: 2em;
  }
}

.about {
  max-width: 35em;
  margin: 0 auto;
  line-height: 2em;

  ul {
    margin-top: 2em;
  }

  li {
    display: inline;
    padding: 1em;
  }

  h3 {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    margin-top: 3em;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
    color: $teal;
  }

  a:hover {
    color: darken($teal,10%)
  }
}

.contact-me {
  h3 {
    margin-top: 0;
  }
}

.midnight-bg {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../images/dreamitreel-bg.jpg"); 
}

.asphalt-bg {
  background: #34495e;
}

.projects-fp-image {
  float: left;
}