@import 'variables';

@import 'base';
@import 'footer';
@import 'header';


#main-header, #project-details-nav, #navigation {
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 2em;
  position: relative;
  text-align: center;

  ul {
    background-color: transparent;
    padding-top: 2em;
    margin: 0 auto;
  }

  li {
    display: inline;
    font-size: .6em;
    letter-spacing: .15em;
    padding-right: 2em;
    text-transform: uppercase;

    a {
      background: none;
      border-radius: .3em;
      color: #fff;
      padding: .5em;
      text-decoration: none;
      transition: background-color .5s ease-in-out;
      }

    a:hover {
      background-color: rgba(0, 0, 0, .3);
      }
  }

  li:last-child {
    padding-right: 0;
  }

}

#navigation {
  background-image: url("../images/header-2.jpg");
  height: 100vh;
}

#project-details-nav {
  background-color: $teal;
  padding-bottom: 2em;
}


#main-header li:last-child {
  padding-right: 0;
}

#aboutme {
  display: block;
}

.front-page {
  letter-spacing: .03em;
}

#projects, #imagery {
  p {
    color: $grey;
    font-size: 1.5em;
    letter-spacing: .03em;
    line-height: 1.8em;
    margin-top: .5em;
    padding: 0;
  }

  a {
    background: none;
    border-radius: .5em;
    color: $grey;
    padding: .5em;
    text-decoration: none;
    transition: background-color .5s ease-in-out;
  }

}

#work, #projects, #imagery {
  padding: 6em 0 6em 0;
  text-align: center;
}

#imagery {
  margin: 0 auto;
  text-align: center;

  p {
    color: $grey;
    font-size: 1.1em;
    padding-bottom: 4em;
    margin: 0 auto;
    width: 30%;
  }

  a {
    color: $darkgrey;
    font-size: 1.3em;
    letter-spacing: .07em;
    text-transform: uppercase;
    word-spacing: .2em;
  }

  a:hover {
    color: $teal;
  }

  img {
    margin-bottom: 3em;
    max-width: 60%;
  }

  h1 {
    font-size: 1.4em;
    padding-bottom: 1.5em;
  }
}

.title-color {
  color: $teal;
}

.shot-photograph {
  background: none;
  font-size: .5em;
}

.subtitle {
  font-size: .5em;
  margin-top: 1em;
}

.img-border img {
  border: .8em solid $ultralightgrey;
  border-radius: .3em;
}

#projects {
  ul {
    background-color: none;
    padding: 3em 0 3em 3em;
    text-align: center;
  }

  li {
    display: inline;
    font-size: .8em;
    letter-spacing: .15em;
    padding: 0 2em 2em 0;
  }

  img {
    border: .8em solid $ultralightgrey;
    border-radius: .3em;
    padding: .5em;
    transition: border .5s ease-in-out;
  }

  a:hover img {
    border: .8em solid $grey;
  }

}

.projects-header-font {
  font-size: 1.2em;
}

.projects-title {
  font-size: 2em;
  text-transform: uppercase;
}

#main-header {
  background-image: url("../images/header-6.jpg");
  height: 100vh;
}

.productdesigner {
  background-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: .08em;
}

.design, .develop, .photography {
  border: 1px solid $lightgrey;
  border-radius: .5em;
  color: #787878;
  display: inline-block;
  line-height: 1.2em;
  margin: 2em;
  padding: 2em 2em;
  text-align: center;
  vertical-align: top;
  width: 20%;

  h1 {
    color: $teal;
    font-size: 1.4em;
    letter-spacing: .1em;
    padding-bottom: 1em;
  }

  h2 {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  img {
    padding-bottom: 1.5em;
  }
}

#philosophy {
  background-attachment: fixed;
  background-color: #000;
  background-image: url("../images/header-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0 3em;
  text-align: center;

  h1, h2 {
    background: none;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 30%;
  }

  h1 {
    font-style: italic;
    font-weight: 400;
  }
}

.philosophy {
  background: none;
  color: #fff;
  padding-bottom: 3em;
}

.author-quote {
  background: none;
}

.keep-in-touch {
  color: #fff;
}

.title {
  background: none;
  color: $grey;
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.what-i-can {
  padding-bottom: 3em;
}

.keep-in-touch, .philosophy {
  color: #fff;
}
