body {
  background-color: #fff;
  color: #303030;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  padding-bottom: 6rem;
}

h1 {
  font-size: 3rem;
  line-height: 5rem;
  padding: 2rem 0;
}

h2 {
  font-size: 36px;
  line-height: 58px;
  margin-top: 2rem;
}

h3 {
  font-size: 2rem;
  text-align: left;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin-left: 2rem;
}

nav ul {
  margin-top: -10px;
}

ul {
  line-height: 32px;
}

.header {
  color: #303030;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto;
  padding: 8rem 0;
  text-align: center;
  max-width: 900px;
}

.work, .case-studies, nav {
  font-size: 16px;
  margin: 0 auto;
  max-width: 900px;
}

.header-wrapper {
  display: inline-block;
  text-align: left;
}

.bold {
  display: inline;
  font-weight: 700;
}

.case-study-container {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 900px;
}

.case-study-container img {
  width: 900px
}

.case-study-container img:hover {
  box-shadow: 1px 2px 20px 1px rgb(0 0 0 / 15%);
  transition: ease-in-out: 0.5sec;
}

.case-study-container label {
  font-size: 24px;
  display: block;
  text-align: left;
}

.case-study-text {
  padding-top: 1.5rem;
}

.case-study-tools {
  float: right;
  font-weight: 700;
  margin-top: -19px;
}

.case-study-context {
  text-align: left;
  margin-top: 1.5rem;
}

.case-studies img {
  max-width: 100%;
  height: auto;
}

.case-studies h1 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.case-studies h2 {
  font-size: 2rem;
  font-weight: 600;
}

.case-studies h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 58px;
  margin-top: 4rem;
}

.case-studies label {
  color: #7f8c8d;
  display: block;
  margin-top: 4rem;
}

.case-studies p {
  padding-top: 2rem;
  line-height: 32px;
}

.case-studies li {
  padding-top: 2rem;
}

.pdt-2 {
  padding-top: 2rem;
}

.pd-top-3 {
  padding-top: 3rem;
}

.pdt-4 {
  padding-top: 4rem;
}

nav header {
  font-size: 20px;
  font-weight: 600;
}

nav a {
  color: #303030;
  text-decoration: none;
}

.pdb-3 {
  padding-bottom: 3rem;
}

.pdb-2 {
  padding-bottom: 2rem;
}

.bold {
  font-weight: 600;
}

.oversized-image img {
  max-width: 1300px;
  margin-left: -200px;
}

.oversized-image-m img {
  max-width: 1150px;
  margin-left: -125px;
}

.about-me {
  margin: 0 auto;
  max-width: 900px;
  padding: 9rem 0;
}

.about-me-image {
  width: 40%;
  height: auto;
}

.about-me img {
  max-width: 300px;
}

.about-me-text, .about-me-image {
  display: inline-block;
}

.about-me-text {
  max-width: 59%;
  vertical-align: top;
}

.about-me-text p {
  padding-top: 3rem;
  line-height: 2rem;
}

.about-me h2 {
  margin-top: -1rem;
}

.about-me a {
  color: #000000;
}

.project-header-lfa, .designs {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-header-lfa img, .designs img {
  width: 100%;
}

.image-text {
  display: flex;
  font-size: 18px;
  line-height: 1.6;
  padding-top: 4rem;
}

.image-text img {
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 600px;
  padding-right: 2rem;
}
