img {
  max-width: 100%; }

html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

*, *:before, *:after {
  box-sizing: inherit; }

ul, li {
  background-color: transparent; }

footer {
  background-color: #65C6BB;
  padding: 3em 0 0 0;
  text-align: center; }

.footer-social-link ul, .footer-nav-bar ul {
  background-color: none;
  padding: 3em 0 3em 0; }
.footer-social-link li, .footer-nav-bar li {
  display: inline;
  font-size: .8em;
  letter-spacing: .15em;
  padding-right: .8em;
  text-transform: uppercase; }
  .footer-social-link li a, .footer-nav-bar li a {
    background: none;
    border-radius: .3em;
    color: #fff;
    padding: 1em;
    text-decoration: none;
    transition: background-color .5s ease-in-out; }
  .footer-social-link li a:hover, .footer-nav-bar li a:hover {
    background-color: rgba(0, 0, 0, 0.3); }

.footer-social-link ul li:first-child a:hover {
  background-color: #4099ff; }
.footer-social-link ul li:nth-child(2) a:hover {
  background-color: #517fa4; }
.footer-social-link ul li:nth-child(3) a:hover {
  background-color: #007bb6; }
.footer-social-link ul li:nth-child(4) a:hover {
  background-color: #eb4b88; }
.footer-social-link ul img {
  background: none; }

.footer-nav-bar {
  font-size: 1.2em; }
  .footer-nav-bar ul {
    padding: 0em 0 3em 0; }

#footer {
  font-size: 5em;
  padding: 5em; }

#header {
  background-color: #ededed;
  font-size: 32px;
  height: 40px;
  padding-top: 25px;
  text-align: center; }

header {
  background-color: transparent;
  letter-spacing: .08em;
  line-height: 2em;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  word-spacing: .1em; }

#main-header, #project-details-nav, #navigation {
  background-attachment: fixed;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 2em;
  position: relative;
  text-align: center; }
  #main-header ul, #project-details-nav ul, #navigation ul {
    background-color: transparent;
    padding-top: 2em;
    margin: 0 auto; }
  #main-header li, #project-details-nav li, #navigation li {
    display: inline;
    font-size: .6em;
    letter-spacing: .15em;
    padding-right: 2em;
    text-transform: uppercase; }
    #main-header li a, #project-details-nav li a, #navigation li a {
      background: none;
      border-radius: .3em;
      color: #fff;
      padding: .5em;
      text-decoration: none;
      transition: background-color .5s ease-in-out; }
    #main-header li a:hover, #project-details-nav li a:hover, #navigation li a:hover {
      background-color: rgba(0, 0, 0, 0.3); }
  #main-header li:last-child, #project-details-nav li:last-child, #navigation li:last-child {
    padding-right: 0; }

#navigation {
  background-image: url("../images/header-2.jpg");
  height: 100vh; }

#project-details-nav {
  background-color: #65C6BB;
  padding-bottom: 2em; }

#main-header li:last-child {
  padding-right: 0; }

#aboutme {
  display: block; }

.front-page {
  letter-spacing: .03em; }

#projects p, #imagery p {
  color: #787878;
  font-size: 1.5em;
  letter-spacing: .03em;
  line-height: 1.8em;
  margin-top: .5em;
  padding: 0; }
#projects a, #imagery a {
  background: none;
  border-radius: .5em;
  color: #787878;
  padding: .5em;
  text-decoration: none;
  transition: background-color .5s ease-in-out; }

#work, #projects, #imagery {
  padding: 6em 0 6em 0;
  text-align: center; }

#imagery {
  margin: 0 auto;
  text-align: center; }
  #imagery p {
    color: #787878;
    font-size: 1.1em;
    padding-bottom: 4em;
    margin: 0 auto;
    width: 30%; }
  #imagery a {
    color: #575757;
    font-size: 1.3em;
    letter-spacing: .07em;
    text-transform: uppercase;
    word-spacing: .2em; }
  #imagery a:hover {
    color: #65C6BB; }
  #imagery img {
    margin-bottom: 3em;
    max-width: 60%; }
  #imagery h1 {
    font-size: 1.4em;
    padding-bottom: 1.5em; }

.title-color {
  color: #65C6BB; }

.shot-photograph {
  background: none;
  font-size: .5em; }

.subtitle {
  font-size: .5em;
  margin-top: 1em; }

.img-border img {
  border: 0.8em solid #EEEEEE;
  border-radius: .3em; }

#projects ul {
  background-color: none;
  padding: 3em 0 3em 3em;
  text-align: center; }
#projects li {
  display: inline;
  font-size: .8em;
  letter-spacing: .15em;
  padding: 0 2em 2em 0; }
#projects img {
  border: 0.8em solid #EEEEEE;
  border-radius: .3em;
  padding: .5em;
  transition: border .5s ease-in-out; }
#projects a:hover img {
  border: 0.8em solid #787878; }

.projects-header-font {
  font-size: 1.2em; }

.projects-title {
  font-size: 2em;
  text-transform: uppercase; }

#main-header {
  background-image: url("../images/header-6.jpg");
  height: 100vh; }

.productdesigner {
  background-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: .08em; }

.design, .develop, .photography {
  border: 1px solid #BBBBBB;
  border-radius: .5em;
  color: #787878;
  display: inline-block;
  line-height: 1.2em;
  margin: 2em;
  padding: 2em 2em;
  text-align: center;
  vertical-align: top;
  width: 20%; }
  .design h1, .develop h1, .photography h1 {
    color: #65C6BB;
    font-size: 1.4em;
    letter-spacing: .1em;
    padding-bottom: 1em; }
  .design h2, .develop h2, .photography h2 {
    font-size: 1.1em;
    line-height: 1.7em; }
  .design img, .develop img, .photography img {
    padding-bottom: 1.5em; }

#philosophy {
  background-attachment: fixed;
  background-color: #000;
  background-image: url("../images/header-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0 3em;
  text-align: center; }
  #philosophy h1, #philosophy h2 {
    background: none;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 auto;
    padding-bottom: 2em;
    width: 30%; }
  #philosophy h1 {
    font-style: italic;
    font-weight: 400; }

.philosophy {
  background: none;
  color: #fff;
  padding-bottom: 3em; }

.author-quote {
  background: none; }

.keep-in-touch {
  color: #fff; }

.title {
  background: none;
  color: #787878;
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase; }

.what-i-can {
  padding-bottom: 3em; }

.keep-in-touch, .philosophy {
  color: #fff; }

/*# sourceMappingURL=screen.css.map */
