body {
  background-color: #34495e;
  color: #fff;
  padding: 2rem;
}

h1 {
  font-size:  3rem;
  line-height: 5rem;
  padding: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.header {
  color: #fff;
  font-family:  'Bona Nova', serif;
  font-size: 4rem;
  margin: 0 auto;
  padding: 8rem 0;
  text-align: center;
}

.work {
  font-size: 16px;
  text-align: center;
}

.header-wrapper {
  display: inline-block;
  text-align: left;
}

.bold {
  display: inline;
  font-weight: 700;
}

.case-study-container {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding-top: 3rem;
  width: 900px;
}

.case-study-container img {
  width: 900px
}

.case-study-container img:hover {
  box-shadow: 1px 2px 20px 1px rgb(0 0 0 / 15%);
  transition: ease-in-out: 0.5sec;
}

.case-study-container label {
  font-size: 24px;
  display: block;
  text-align: left;
}

.case-study-text {
  padding-top: 1.5rem;
}

.case-study-tools {
  float: right;
  font-weight: 700;
  margin-top: -19px;
}

.case-study-context {
  text-align: left;
  margin-top: 1.5rem;
}


/* Gradient Effect */

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img{
  width: 200px;
  height: 280px;
  object-fit: cover;
  filter: grayscale(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}
