/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
#wrap {
  background-color: #fff;
}

/* line 19, ../sass/screen.scss */
#header {
  font-size: 32px;
  height: 40px;
  background-color: #ededed;
  padding-top: 25px;
  text-align: center;
}

/* line 27, ../sass/screen.scss */
#maincontent, #about-content, #imagery-content {
  background-attachment: fixed;
  background-color: #000;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  font-size: 2em;
  position: relative;
  text-align: center;
}
/* line 39, ../sass/screen.scss */
#maincontent ul, #about-content ul, #imagery-content ul {
  position: relative;
  top: 5%;
  transform: translateY(-5%);
  margin: 0 auto;
  background-color: transparent;
}
/* line 47, ../sass/screen.scss */
#maincontent li, #about-content li, #imagery-content li {
  display: inline;
  font-size: .6em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding-right: 2em;
}
/* line 54, ../sass/screen.scss */
#maincontent li a, #about-content li a, #imagery-content li a {
  background: none;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s ease-in-out;
  padding: .5em;
  border-radius: .3em;
}
/* line 63, ../sass/screen.scss */
#maincontent li a:hover, #about-content li a:hover, #imagery-content li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 68, ../sass/screen.scss */
#maincontent li:last-child, #about-content li:last-child, #imagery-content li:last-child {
  padding-right: 0;
}

/* line 73, ../sass/screen.scss */
#about-content {
  height: 30vh;
  background-color: #65C6BB;
  background-image: url("../images/header-2.jpg");
  background-position: center center;
}

/* line 80, ../sass/screen.scss */
#imagery-content {
  height: 30vh;
  background-color: #65C6BB;
  background-image: url("../images/imagery-2.jpg");
}

/* line 86, ../sass/screen.scss */
#maincontent {
  height: 100vh;
  background-image: url("../images/header-6.jpg");
}

/* line 91, ../sass/screen.scss */
.productdesigner {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: transparent;
  font-size: 2.5em;
  letter-spacing: .08em;
}

/* line 99, ../sass/screen.scss */
.title {
  font-size: 1.7em;
  color: #787878;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  letter-spacing: 0.1em;
}

/* line 108, ../sass/screen.scss */
.what-i-can {
  padding-bottom: 2em;
}

/* line 113, ../sass/screen.scss */
#maincontent li:last-child {
  padding-right: 0;
}

/* line 117, ../sass/screen.scss */
#aboutme {
  display: block;
}

/* line 122, ../sass/screen.scss */
header {
  background-color: transparent;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  word-spacing: .1em;
  line-height: 2em;
  letter-spacing: .08em;
}

/* line 134, ../sass/screen.scss */
#projects ul {
  padding: 3em 0 3em 0;
  background-color: none;
}
/* line 139, ../sass/screen.scss */
#projects li {
  display: inline;
  font-size: .8em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding-right: .8em;
}
/* line 147, ../sass/screen.scss */
#projects img {
  border: 0.8em solid #EEEEEE;
  border-radius: .3em;
  padding: .5em;
  transition: border .5s ease-in-out;
}
/* line 154, ../sass/screen.scss */
#projects a:hover img {
  border: 0.8em solid #787878;
}

/* line 160, ../sass/screen.scss */
#projects p, #imagery p {
  font-size: 1.5em;
  margin-top: .5em;
  line-height: 1.8em;
  letter-spacing: .03em;
  padding: 0;
  color: #787878;
}
/* line 169, ../sass/screen.scss */
#projects a, #imagery a {
  background: none;
  color: #787878;
  text-decoration: none;
  transition: background-color .5s ease-in-out;
  padding: .5em;
  border-radius: .5em;
}

/* line 180, ../sass/screen.scss */
#work, #projects, #imagery {
  text-align: center;
  padding: 6em 0 6em 0;
}

/* line 187, ../sass/screen.scss */
#footer {
  font-size: 5em;
  padding: 5em;
}

/* line 192, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 196, ../sass/screen.scss */
html {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

/* line 202, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
  background-color: #fff;
}

/* line 207, ../sass/screen.scss */
ul, li {
  background-color: transparent;
}

/* line 211, ../sass/screen.scss */
.design, .develop, .photography {
  color: #787878;
  display: inline-block;
  line-height: 1.2em;
  margin: 2em;
  text-align: center;
  vertical-align: top;
  width: 20%;
  border: 1px solid #BBBBBB;
  padding: 2em 2em;
  border-radius: .5em;
}
/* line 223, ../sass/screen.scss */
.design h1, .develop h1, .photography h1 {
  font-size: 1.4em;
  padding-bottom: 1em;
  color: #65C6BB;
  letter-spacing: .1em;
}
/* line 230, ../sass/screen.scss */
.design h2, .develop h2, .photography h2 {
  line-height: 1.7em;
  font-size: 1.1em;
}
/* line 235, ../sass/screen.scss */
.design img, .develop img, .photography img {
  padding-bottom: 1.5em;
}

/* line 240, ../sass/screen.scss */
#imagery {
  text-align: center;
  margin: 0 auto;
}
/* line 244, ../sass/screen.scss */
#imagery p {
  color: #787878;
  font-size: 1.1em;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 3em;
}
/* line 252, ../sass/screen.scss */
#imagery a {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #575757;
  word-spacing: .2em;
  letter-spacing: .07em;
}
/* line 259, ../sass/screen.scss */
#imagery a:hover {
  color: #65C6BB;
}
/* line 263, ../sass/screen.scss */
#imagery img {
  max-width: 60%;
  margin-bottom: 3em;
}

/* line 269, ../sass/screen.scss */
#philosophy {
  text-align: center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("../images/header-3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 0 3em;
}
/* line 279, ../sass/screen.scss */
#philosophy h1, #philosophy h2 {
  width: 30%;
  background: none;
  margin: 0 auto;
  padding-bottom: 2em;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 289, ../sass/screen.scss */
#philosophy h1 {
  font-weight: 400;
  font-style: italic;
}

/* line 295, ../sass/screen.scss */
.philosophy {
  padding-bottom: 3em;
  background: none;
  color: #fff;
}

/* line 302, ../sass/screen.scss */
.author-quote {
  background: none;
}

/* line 306, ../sass/screen.scss */
footer {
  background-color: #65C6BB;
  text-align: center;
  padding: 3em 0 2em 0;
}
/* line 311, ../sass/screen.scss */
footer ul {
  padding: 3em 0 3em 0;
  background-color: none;
}
/* line 316, ../sass/screen.scss */
footer li {
  display: inline;
  font-size: .8em;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding-right: .8em;
}
/* line 323, ../sass/screen.scss */
footer li a {
  background: none;
  color: #fff;
  text-decoration: none;
  transition: background-color .5s ease-in-out;
  padding: 1em;
  border-radius: .3em;
}
/* line 334, ../sass/screen.scss */
footer li:first-child a:hover {
  background-color: #4099ff;
}
/* line 338, ../sass/screen.scss */
footer li:nth-child(2) a:hover {
  background-color: #517fa4;
}
/* line 342, ../sass/screen.scss */
footer li:nth-child(3) a:hover {
  background-color: #007bb6;
}
/* line 346, ../sass/screen.scss */
footer li:nth-child(4) a:hover {
  background-color: #eb4b88;
}
/* line 350, ../sass/screen.scss */
footer img {
  background: none;
}

/* line 355, ../sass/screen.scss */
.keep-in-touch {
  color: #fff;
}

/* line 359, ../sass/screen.scss */
.projects-title {
  text-transform: uppercase;
}

/* line 363, ../sass/screen.scss */
.title-color {
  color: #65C6BB;
}

/* line 367, ../sass/screen.scss */
.projects-header-font {
  font-size: 1.2em;
}

/* line 371, ../sass/screen.scss */
.shot-photograph {
  font-size: .5em;
  background: none;
}

/* line 376, ../sass/screen.scss */
.subtitle {
  margin-top: 1em;
  font-size: .5em;
}
